/* Footer.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  font-size: 1.5em;
  font-weight: bold;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 30px; /* Jarak antar ikon */
  flex-wrap: wrap; /* Ikon akan memulai baris baru jika tidak cukup tempat */
}

.social-icon {
  transition: color 0.3s ease; /* Transisi warna */
}

.social-icon:hover {
  opacity: 0.7; /* Efek opasitas saat dihover */
}
